name: Jira closure

on:
  issues:
    types: [closed, deleted]
    
permissions:
  issues: write

jobs:
  close-issue:
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@c6295a65d1254861815972266d5933fd6e532bdf # v2.11.1
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@ee0669bd1cc54295c223e0bb666b733df41de1c5 # v2.7.0
        with:
          repository: snowflakedb/gh-actions
          ref: jira_v1
          token: ${{ secrets.SNOWFLAKE_GITHUB_TOKEN }}
          path: .

      - name: Jira login
        uses: atlassian/gajira-login@c22a5debd482401472b285de4f6deedf70ddbb92 # master
        env:
          JIRA_API_TOKEN: ${{ secrets.JIRA_API_TOKEN }}
          JIRA_BASE_URL: ${{ secrets.JIRA_BASE_URL }}
          JIRA_USER_EMAIL: ${{ secrets.JIRA_USER_EMAIL }}

      - name: Extract issue from title
        id: extract
        env:
          TITLE: "${{ github.event.issue.title }}"
        run: |
          jira=$(echo -n $TITLE | awk '{print $1}' | sed -e 's/://')
          echo ::set-output name=jira::$jira

      - name: Close issue
        uses: ./jira/gajira-close
        if: startsWith(steps.extract.outputs.jira, 'SNOW-')
        with:
          issue: "${{ steps.extract.outputs.jira }}"
