name: Jira comment

on:
  issue_comment:
    types: [created]

permissions:
  issues: write

jobs:
  comment-issue:
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@c6295a65d1254861815972266d5933fd6e532bdf # v2.11.1
        with:
          egress-policy: audit

      - name: Jira login
        uses: atlassian/gajira-login@c22a5debd482401472b285de4f6deedf70ddbb92 # master
        env:
          JIRA_API_TOKEN: ${{ secrets.JIRA_API_TOKEN }}
          JIRA_BASE_URL: ${{ secrets.JIRA_BASE_URL }}
          JIRA_USER_EMAIL: ${{ secrets.JIRA_USER_EMAIL }}

      - name: Extract issue from title
        id: extract
        env:
          TITLE: "${{ github.event.issue.title }}"
        run: |
          jira=$(echo -n $TITLE | awk '{print $1}' | sed -e 's/://')
          echo ::set-output name=jira::$jira
      
      - name: Comment on issue
        uses: atlassian/gajira-comment@b296309a56fe4764d3eb2ef21cb86770fcb9f621 # master
        if: startsWith(steps.extract.outputs.jira, 'SNOW-')
        with:
          issue: "${{ steps.extract.outputs.jira }}"
          comment: "${{ github.event.comment.user.login }} commented:\n\n${{ github.event.comment.body }}\n\n${{ github.event.comment.html_url }}"
