name: precommit test - windows
on:
  push:
    branches: [ main ]
  pull_request:
    branches: '**'

permissions:
  contents: read

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@c6295a65d1254861815972266d5933fd6e532bdf # v2.11.1
        with:
          egress-policy: audit

      - name: Checkout Code
        uses: actions/checkout@ee0669bd1cc54295c223e0bb666b733df41de1c5 # v2.7.0
      - name: Install Java
        uses: actions/setup-java@b6e674f4b717d7b0ae3baee0fbe79f498905dfde # v1.4.4
        with:
          java-version: 1.8
      - name: Decrypt profile.properties
        shell: bash
        env:
          PROFILE_PASSWORD: ${{ secrets.PROFILE_PASSWORD }}
        run: .github/scripts/decrypt_profile.sh
      - name: Run test on windows
        run: mvn --% -D"gpg.skip" -DscalaPluginVersion="4.5.4" -DtagsToExclude="UnstableTest,com.snowflake.snowpark.PerfTest,com.snowflake.snowpark.JavaAPITest,com.snowflake.snowpark.UDFTest,com.snowflake.snowpark.UDFPackageTest,com.snowflake.snowpark.CodeVerification" test
